---
import GlobeGraphCard from 'molecules:GlobeGraphCard'
import FooterStacked from '../molecules/FooterStacked.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarStacked from '../molecules/NavBarStacked.astro';
---

<LayoutCommon>
	<NavBarStacked />
    <GlobeGraphCard />
	<div class="flex pt-16 overflow-hidden bg-tertiary-100 dark:bg-tertiary-950">
		<div
			id="main-content"
			class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-tertiary-100 dark:bg-tertiary-950 min-h-screen"
		>
			<div class="px-4 pt-6 2xl:px-0">
				<slot />
			</div>

			<FooterStacked />
		</div>
	</div>
</LayoutCommon>
