---
import { t } from "i18next";
import Hero from 'molecules:Hero'
import * as readMe from '../../../README.md';
import pkg from '../../../package.json' assert {type: 'json'};
---

<div
    class="flex flex-col min-h-screen"
>
    <Hero />

    <article class="flex justify-center pt-32 pb-32">
        <div class="w-full readme format dark:format-invert lg:format-lg">
            <h1 class="text-center">
                {pkg.name}
            </h1>
            <p>{t('seo.description')}</p>
            <readMe.Content/>
        </div>
    </article>
</div>

<style>
    /* Override in Markdown H1 title */
    .readme :global(h1:nth-of-type(2)) {
        display: none;
    }

    .svg-inline :global(svg) {
        height: 100%;
        width: 100%;
    }
</style>
