---
import { Icon } from 'astro-icon'

interface Props{
    title: string;
    description: string;
    icon: string;
}
const { title, description, icon } = Astro.props;
---

<div class="Card w-72 h-52 flex-col justify-start items-start gap-4 inline-flex">
	<Icon name={icon} class="w-12 h-12 px-4 py-2 text-tertiary-50 bg-tertiary-900 rounded border border-tertiary-800 justify-center items-center inline-flex"/>
	<div class="w-[248px] text-tertiary-700 dark:text-tertiary-100 text-2xl font-medium leading-[31.20px] tracking-tight">{title}</div>
	<div class="self-stretch text-tertiary-800 dark:text-tertiary-400 text-base font-normal leading-normal tracking-tight">{description}</div>
</div>
