---
import i18next, {t} from 'i18next';
// import LinkButton from "atoms:LinkButton";
import Card from "molecules:Card";
import productsHighlightsStaticJSON from '../../../data/product-highlights.json' assert { type: 'json' };

interface ProductHighlight {
    title: string;
    description: string;
    icon: string;
    language: string;
}

const highlights: ProductHighlight[] = productsHighlightsStaticJSON.filter((item) => item.language === i18next.language);
---

<section class="flex flex-col justify-center items-center mt-20 text-tertiary-900 dark:text-tertiary-50">
    <h4 class="text-center text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-sans font-medium leading-none tracking-wide  md:leading-tight md:tracking-wider max-w-4xl">
        {t('items-section.title')}
    </h4>
    <!-- Card grid for the different features -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-10">
        {
        highlights.map((item) => (
            <Card
                title={item.title}
                description={item.description}
                icon={item.icon}
            />
        ))
        }
    </div>

</section>
