---
import BannerSection from 'molecules:BannerSection'
import Hero from 'molecules:Hero'
import ItemsSection from 'molecules:ItemsSection'
---

<div class="flex flex-col min-h-screen">
	<Hero />
	<ItemsSection />
	<BannerSection />
</div>
