---
const { ...attributes } = Astro.props
const { secondary: ButtonVariant, class: className, href, ...attrs } = attributes
const variant = ButtonVariant ? 'secondary-button' : 'primary-button'
---

<a
	href={href}
    class:list=`${variant} ${className}`
    {...attrs}
>
	<slot/>
</a>

<style>
    .primary-button {
        @apply text-center inline-flex bg-gradient-to-r from-purple-400 to-violet-500 justify-center items-center text-tertiary-50
        font-sans font-semibold uppercase rounded border-tertiary-300 dark:border-tertiary-700 px-5 py-2.5;
    }
    .secondary-button {
        @apply text-center text-tertiary-50 bg-tertiary-800 dark:bg-tertiary-800
        font-sans font-semibold uppercase rounded border-tertiary-300 dark:border-tertiary-700 px-5 py-2.5;
    }
</style>
