---
import { t } from 'i18next';
---
<a href="/" class="flex">
    <img
        src='/favicon.svg'
        class="h-8 mr-3"
        alt={`${t('seo.title')} Logo`}
    />
    <span class="uppercase self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        {t('seo.title')}
    </span>
</a>
