---
import pkg from '../../../package.json' assert {type: 'json'};

const appName = pkg.name.toString() ?? 'MindSync';
---
<a href="/apps/landing-page/public" class="flex">
    <img
        src='/favicon.svg'
        class="h-8 mr-3"
        alt={`${appName} Logo`}
    />
    <span class="uppercase self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        {appName}
    </span>
</a>
