---
import {t} from 'i18next';
import LinkButton from 'atoms:LinkButton';
import WorldGraph from 'atoms:WorldGraph';
import { Image } from '@astrojs/image/components';
import {Icon} from 'astro-icon';
import appInterface from '../../assets/images/app-interface.png';
---

<header class="p-8 flex justify-start items-start flex-wrap flex-col w-full mt-16">
    <div class="fixed right-1/3 top-0 z-50 flex items-center justify-center shrink-0">
        <div class="absolute h-[478px] min-h-[1em] w-1 self-stretch bg-gradient-to-t from-purple-400 via-violet-500 to-violet-300"></div>
        <div class="absolute w-[275px] h-[837px] opacity-30 bg-gradient-to-br from-purple-400 via-violet-500 via-30% to-violet-300 blur-3xl rounded-full"></div>
        <div class="opacity-5 w-[166px] h-[478px] relative">
            <Icon name="dot-grid-effect" class="absolute left-0 top-0 w-[166px] h-[478px] text-tertiary-700 dark:text-tertiary-300 rounded-b-full"/>
        </div>
        <WorldGraph />
    </div>

    <div class="flex flex-col justify-start items-start gap-6">
        <h1 class="text-left font-sans dark:text-tertiary-50 mb-4 text-[64px] font-medium leading-tight tracking-wider max-w-4xl">
            {t("hero.title")}
        </h1>
        <div class="self-stretch justify-between items-center gap-6 inline-flex font-sans max-w-xl">
            <h3 class="text-lg font-normal leading-tight tracking-tight dark:text-tertiary-50">
                {t("hero.subtitle")}
            </h3>
            <LinkButton href="/"
                class="download-button">
                <Icon name="mdi:download" class="mr-2 h-5 w-5"/>
                {t("hero.download")}
            </LinkButton>
        </div>
    </div>
   <div class="mt-5 relative">
    <div id="hero-mask-shape" class="absolute bottom-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-tertiary-50 dark:to-tertiary-950 opacity-90"></div>
    <Image src={appInterface} alt={t('hero.app-interface')} />
   </div>
</header>

<style>
    .download-button {
        @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:from-primary-500 hover:to-secondary-500 duration-300;
    }

</style>
