---
import {t} from 'i18next';
import LinkButton from 'atoms:LinkButton';
import { Image } from '@astrojs/image/components';
import {Icon} from 'astro-icon';
import appInterface from '../../assets/images/app-interface.png';
---

<header class="p-8 flex justify-start items-start flex-wrap flex-col w-full mt-16">
    <div class="flex flex-col justify-start items-start gap-6">
        <h1 class="text-left font-sans dark:text-tertiary-50 mb-4 text-[64px] font-medium leading-tight tracking-wider max-w-4xl">
            {t("hero.title")}
        </h1>
        <div class="self-stretch justify-between items-center gap-6 inline-flex font-sans max-w-xl">
            <h3 class="text-lg font-normal leading-tight tracking-tight dark:text-tertiary-50">
                {t("hero.subtitle")}
            </h3>
            <LinkButton href="/"
                class="download-button">
                <Icon name="mdi:download" class="mr-2 h-5 w-5"/>
                {t("hero.download")}
            </LinkButton>
        </div>
    </div>
   <div class="flex items-center justify-center mt-5 relative w-full">
    <div id="hero-mask-shape" class="absolute bottom-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-tertiary-50 dark:to-tertiary-950 opacity-90"></div>
    <Image src={appInterface} alt={t('hero.app-interface')} class="w-full"/>
   </div>
</header>

<style>
    .download-button {
        @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:from-primary-500 hover:to-secondary-500 duration-300;
    }

</style>
