---
import { t } from 'i18next'
import type { Menu } from "../../models/Menu";

export interface Props {
	menus: Menu[]
}

const {menus} = Astro.props;
---
<ul class="block sm:pt-2 md:flex md:space-x-8">
	{menus.map((menu) => (
		<li>
			<a
				id={menu.id}
				href={menu.link}
				class="text-sm font-medium text-gray-700 hover:text-primary-700 dark:text-gray-400 dark:hover:text-primary-500"
				aria-current="page">
                {t(`menus.${menu.id}`)}
            </a>
		</li>
	))}
	<li class="relative">
		<slot name="last-menu"></slot>
	</li>
</ul>
